body{background-color:black;}
	body{height: 125vh; margin-top: 80px; padding: 30px; background-size: cover; font-family: sans-serif;}
	header {background-color: rgb(255, 255, 128); position: fixed; left: 0; right: 0; top:15px; height: 45px; display: flex; align-items: center;}  
	header * {display: inline;}  
	header li {margin: 20px;}  
	header li a{color: black; text-decoration: none; font-size:100%; font-family: garamond, arial,sans-serif}
h1{font-family: garamond, arial, sans-serif; color:white; font-size:160%}
h2{font-family: garamond, arial, sans-serif; font-size:150%; color:white;}
h3{font-family: garamond, arial, sans-serif; font-size:140%; color:white;}
p{font-family: garamond, arial, sans-serif; font-size:100%; color:white;}
a{font-family: garamond, arial, sans-serif; font-size:100%; color:white; text-decoration: none;}
ul{color:white;}