:root {
  font-family: arial, sans-serif;
  font-size: 16px;
  background-color: black;
  color: #ffff;
}
body {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(255, 255, 128);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 45px;
  display: flex;
  align-items: center;
}
header li {
  margin: 20px;
  display: inline;
}
header li a {
  color: black;
  font-weight: bolder; /*I just thought bold looks cool here but you pick*/
}
.main {
  padding: 30px;
  margin-top: 80px;
}

a {
  text-decoration: none;
  color: #ffff;
}
